* {
    box-sizing: border-box;
}


body {
    overflow-x: hidden;
    margin-left: 5vw;
    margin-right: 5vw;
}

.main {
    margin-top: 5vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.navbar {
    background: transparent !important;
    text-align:justify;
    justify-content: space-around;
}

.navbar-brand {
    font-family: Mulish;
    font-size: 24px;
    font-weight: 700;
    line-height: 30.12px;
    text-align: left;

}

.nav-item {
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
}

.nav-link {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.59px;
    text-align: left;
    color: #1F1534;
}

.nav-link:hover {
    color: #2E4E92 !important;

}

.nav-line {
    width: 67px;
    height: 1.5px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    background: #2E4E92;
}

@media (max-width:1100px) {
    .navbar-brand {
        font-size: 16px;
        line-height: 20px;
    }
}
/* 1 ///////////////////////////////////////////////////////////////////////////////// */

.first-tem {
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.first-text1 {
    margin-top: 3vh;
    font-family: Mulish;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    color:#3C567B;

}

.first-text2 {
    margin-top: 7vh;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #93C1F9;

}

.first-btn {
    margin-top: 5vh;
    border: 1.5px solid #458FF6;
    border-radius: 50px;
    background-color: #458FF6;
    transition-duration: 0.75s;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color:#ffffff;
    padding-left: 2.5vw;
    padding-right: 2.5vw;

}

.first-btn:hover {
    transition-duration: 0.75s;
    background-color: #000;
    color: #E7E3E0;
}

.img-bkg {
    width: 45%;
    height: 45%;
}
 @media (max-width: 1500px) {
    .first-text1 {
        font-size: 32px;
    }
    .first-text2 {
        font-size: 16px;
    }
    .first-btn {
        font-size: 16px;
        line-height: 30px;
    }
 }

 @media (max-width: 1000px) {
    .first-text1 {
        font-size: 24px;
    }
    .first-text2 {
        font-size: 14px;
    }
    .first-btn {
        font-size: 14px;
        line-height: 30px;
    }
 }

/* 2 ///////////////////////////////////////////////////////////////////////////////// */
.second-tem {
    margin-top: 25vh;
    align-items: center;
    text-align: center;
    background-image: url(img/senond-bckg.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 50vw;
}

.headin-div {
    align-items: center;
    text-align: center;
    
}

.second-heading {
    font-family: Mulish;
    font-size: 45px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    color: #462E6A;
}

.second-tem-line {
    margin-top: 3vh;
    margin-bottom: 4vh;
    width: 67px;
    height: 1.5px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    background: #000000;
}

.second-text {
    font-family: Roboto;
    font-size: 19px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: center;
    color:#CCD2E9;
}

.second-menu {
    display: flex;
    flex-direction:inherit;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 7vh;
    margin-left: 4vw;
    margin-right: 4vw;
}

.first-task-menu {
    align-items: center;
    text-align: center;
    border-radius:2em;
    height: 45vh;
    width: 20vw;
    background-color: #ffffff;
}

.task-img {
    margin-top: 5vh;
}

.task-heading {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vh;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    color: #000000;


}

.task-text {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color:#7D7987;
}



.second-tem-btn {
    border: 1.5px solid #458FF6;
    border-radius: 50px;
    transition-duration: 0.75s;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color:#458FF6;
    padding-left: 2.5vw;
    padding-right: 2.5vw;

}

.second-tem-btn:hover {
    transition-duration: 0.75s;
    background-color: #000;
    color: #E7E3E0;
}

@media (max-width: 1500px) {
    .second-heading {
        font-size: 32px;
        line-height: 40px;
    }
    .second-text {
        font-size: 16px;
        line-height: 20px;
    }
    .task-heading {
        font-size: 18px;
        line-height: 0px;
    }
    .task-text {
        font-size: 15px;
        line-height: 30px;
    }
    .task-img {
        width: 10vw;
        height: 10vh;
    }
    .second-tem-btn {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
    }
}

@media (max-width: 1000px) {
    .second-heading {
        font-size: 26px;
        line-height: 30px;
    }
    .second-text {
        font-size: 15px;
        line-height: 20px;
    }
    .task-heading {
        font-size: 15px;
        line-height: 0px;
    }
    .task-text {
        font-size: 15px;
        line-height: 30px;
    }
    .task-img {
        width: 8vw;
        height: 8vh;
    }
    .second-tem-btn {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
    }
}
@media (max-width: 550px) {
    .second-menu {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        margin-bottom: 7vh;
        margin-left: 4vw;
        margin-right: 4vw;
    }
    .first-task-menu {
        margin-top: 5vh;
        margin-bottom: 5vh;
        align-items: center;
        text-align: center;
        border-radius:2em;
        height:45vh;
        width: 80vw;
        background-color: #ffffff;
    }
    
    .task-img {
        margin-top: 5vh;
    }
    
    .task-heading {
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 2vh;
        font-family: Mulish;
        font-size: 24px;
        font-weight: 700;
        line-height: 56px;
        text-align: center;
        color: #000000;
    
    
    }
    
    .task-text {
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 2vh;
        display: flex;
        align-items: center;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        text-align: left;
        color:#7D7987;
    }
    .second-tem-btn {
        border: 1.5px solid #458FF6;
        border-radius: 50px;
        transition-duration: 0.75s;
        font-family: Mulish;
        font-size: 18px;
        font-weight: 700;
        line-height: 60px;
        text-align: left;
        color:#458FF6;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    
    }    
    .second-tem-btn:hover {
        transition-duration: 0.75s;
        background-color: #000;
        color: #E7E3E0;
    }
}
/* 3 ///////////////////////////////////////////////////////////////////////////////// */
.third-tem-message {
    margin-left: 15vw;
}

.third-tem-text1 {
    font-family: Mulish;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    color:#462E6A

}

.third-tem-text2 {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    color:
     #7D7987;
}
@media (max-width: 1500px) {
    .third-tem-text1 {
        font-size: 28px;
        line-height: 30px;
    }
    .third-tem-text2 {
        font-size: 15px;
        line-height: 20px;
    }
}
@media (max-width: 1000px) {
    .third-tem-text1 {
        font-size: 24px;
        line-height: 30px;
    }

}
/* 4 ///////////////////////////// */
.fourth-tem {
    background-image: url(img/fourth-bkg-2.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 50vw;
    z-index: 10;
}
.fourth-btn {
    margin-top: 2vh;
}

.download-img {
    margin-left: 1vw;
}

/* 6  //////////////////////////////// */
.sixth-tem {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #6888C8;
    border-radius:20px;
    margin-top: 10vh;
    padding-top: 5vh;
    margin-bottom: 10vh;
}

.sixth-heading {
    align-items: center;
    text-align: center;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color:#FFFFFF;
}

.sixth-line {
    margin-top: 7%;
    margin-bottom: 7%;
    width: 5%;
    height: 3px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    background: #ffffff;
}

.sixth-tem-tasks {
    display: flex;
    flex-direction:inherit;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 7vh;
    margin-left: 4vw;
    margin-right: 4vw;
}

.sixth-task {
    display: flex;
    flex-direction:inherit;
    flex-direction: column;
    justify-content:space-between;
    margin-bottom: 7vh;
    margin-left: 4vw;
    margin-right: 4vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    border-radius: 5%;
    background-color: #ffffff;
}

.sixth-task-name {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #000000;
}

.name-img {
    width: 7vw;
    height: 7vh;
}

.sixth-task-text {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: 0.01em;
    text-align: left;
    color: black;
}
@media (max-width: 1500px) {
    .sixth-heading {
        font-size: 30px;
        line-height: 30px;
    }
    .sixth-task-name {
        font-size: 18px;
        line-height: 30px;
    }
    .sixth-task-text{
        font-size: 18px;
        line-height: 30px;
    }
    .name-img {
        width: 5vw;
        height: 7vh;
    }
}

@media (max-width: 1000px) {
    .sixth-heading {
        font-size: 24px;
        line-height: 30px;
    }
    .sixth-task-name {
        font-size: 15px;
        line-height: 20px;
    }
    .sixth-task-text{
        font-size: 15px;
        line-height: 20px;
    }
    .name-img {
        width: 5vw;
        height: 7vh;
    }
}
/* 7 ///////////////////////////////////////////////////// */
.end-tem {
    margin-right: -5vw;
    margin-left: -5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #6888C8;
    height: 45vh;
}

.end-first-task {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 25vh;
}

.first-img-text {
    font-family: Mulish;
    font-size: 24px;
    font-weight: 700;
    line-height: 30.12px;
    text-align: left;
    columns: white;
}

.first-task-text {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;   
    letter-spacing: 0.01em;
    text-align: left;
    color:#FFFFFF;
}

.end-text-author {
    font-family: Mulish;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: #FFFFFF;
    opacity: 0.5;
}

.end-second-task {
    display: flex;
    flex-direction: column;
}

.end-second-task-head {
    font-family: Mulish;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: white;
}

.end-second-task-text {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    color: white;
    opacity: 0.5;
}

@media (max-width: 1500px) {
    .first-img-text {
        font-size: 18px;
        line-height: 25px;
    }
    .first-task-text,.end-text-author, .end-second-task-text {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    .first-img-text {
        font-size: 15px;
        line-height: 20px;
    }
    .first-task-text,.end-text-author, .end-second-task-text,
    .end-text-author,.end-second-task-head {
        font-size: 14px;
    }
}